.header {
    width: 1080px;
    height: 48px;

    margin: 32px auto 0;

    background-color: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
}

.header-container {
    display: flex;
    align-items: center;

    height: 100%;
    padding: 0 30px;
}

.logo {
    flex: 1;

    color: #1b414b;
    text-decoration: none;
}

.nav {
    flex: 0 0 auto;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 4px;

    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item a {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 91px;
    height: 40px;

    background-color: rgba(27, 65, 75, 0.5);
    border-radius: 8px;

    color: #fbfbfb;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 400;
    transition: background-color 0.3s ease-in-out;
}

.nav-item a:hover,
.nav-item a:focus {
    background-color: rgba(27, 65, 75, 1);
}

.social-list {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

    margin: 0;
    padding: 0;
    list-style: none;
}

.social-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(27, 65, 75, 1);
    transition: color 0.3s ease-in-out;
}


.social-link a:hover,
.social-link a:focus {
    color: rgba(6, 39, 48, 1)
}