.container {}

.review-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    width: 854px;
    margin: 150px auto 0 auto;
    color: #fbfbfb;
}

.title-text {
    font-weight: 400;
    font-size: 14px;

    /* line-height: 18px; */
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    opacity: 0.4;
    width: 571px;
    margin: 25px auto 75px auto;
}

.review-list {
    display: flex;
    gap: 26px;
}

.review-item {
    display: flex;
    flex-direction: column;
    background-color: #fbfbfb;
    color: #040306;
    padding: 32px 28px;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.review-name {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.002em;
}

.review-text {
    opacity: 40%;
}

.review-image {
    margin-bottom: 24px;

}